@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageConteiner {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 1100px;
  padding: 10px 15px 100px 15px;
}

.pageBtnBack, .pageSectionBtn {
  display: block;
  margin: 10px;

  width: 50px;
  
  padding: 7px;
  background-color: rgb(6, 6, 123);
  border-radius: 5px;

  text-align: center;
  font-size: 400;
  color: aliceblue;
  text-decoration: none;

  cursor: pointer;
  
}

.pageSection {
  display: flex;
}

.pageSectionBtn {
  width: 75px;
}

